* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 70%;
    margin: 0 auto;
}

.box {
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    height: 75%;
    margin: 0 auto;
    width: 75%;
}